.container {
  display: flex;
  height: 100vh;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.sidebar {
  width: 300px; 
  padding: 20px;
  overflow-y: auto;
  box-shadow: 8px 0 8px -8px rgba(0, 0, 0, 0.5);
}

.content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto; /* Activer le défilement vertical */
  scrollbar-width: none; /* Pour Firefox */
  -ms-overflow-style: none;  /* Pour Internet Explorer et Edge */
}

/* Pour les navigateurs basés sur WebKit */
.content::-webkit-scrollbar {
  width: 0;  /* Masquer la barre de défilement verticale */
  height: 0; /* Masquer la barre de défilement horizontale */
}

.content h1 {
  margin-bottom: 20px;
}

.content > * {
  flex-grow: 1;
}
