/* Styles globaux */
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden; 
    justify-content: center; 
    align-items: center; 
    position: relative;
}

/* Texte superposé */
.overlayText {
    position: absolute;
    top: 2em;  /* Ajuste la position du texte pour les petits écrans */
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5rem;  /* Réduit la taille de la police pour une meilleure lisibilité */
    font-weight: bold;
    text-align: center;
    z-index: 1;
    color: #DDD0C8;
    padding: 0 10px;  /* Ajoute du padding pour éviter que le texte ne touche les bords */
}

/* Wrapper des boutons */
.buttons {
    position: absolute;
    top: calc(50% + 3em);  /* Ajuste la position des boutons en fonction de la taille du texte */
    display: flex;
    flex-direction: column;  /* Aligne les boutons verticalement pour les petits écrans */
    justify-content: center;
    align-items: center;  /* Centre les boutons horizontalement */
    width: 100%; 
    z-index: 1;
}

/* Styles des boutons */
.button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px 0;  /* Ajuste la marge pour les écrans plus petits */
    cursor: pointer;
    font-size: 16px;  /* Taille de la police */
    transition: background-color 0.3s ease;
    text-align: center;  /* Aligne le texte des boutons au centre */
}

/* Effet au survol des boutons */
.button:hover {
    background-color: #DDD0C8;
    color: white;
}

/* Wrapper de la vidéo */
.videoWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    overflow: hidden;
}

/* Styles de la vidéo */
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

/* Media Query pour les écrans de téléphone */
@media (max-width: 768px) {
    .overlayText {
        font-size: 2rem;  /* Réduit encore la taille du texte pour les écrans très petits */
        top: 1em;  /* Ajuste la position du texte pour les petits écrans */
    }
    
    .buttons {
        top: calc(50% + 2em);  /* Ajuste la position des boutons pour éviter le chevauchement */
        flex-direction: column;  /* Assure que les boutons sont empilés verticalement */
        align-items: center;  /* Centre les boutons horizontalement */
    }
    
    .button {
        font-size: 14px;  /* Ajuste la taille de la police pour les petits écrans */
        padding: 8px 12px;  /* Réduit le padding des boutons */
    }
}

