.post {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.post:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.postContent h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #333;
}

.author {
  font-size: 0.9rem;
  color: #888;
}

.likes {
  font-size: 1rem;
  color: #e74c3c;
  margin-top: 10px;
}

.actions {
  display: flex;
  gap: 15px; /* Ajoute de l'espace entre les icônes */
  margin-top: 10px;
}

.icon {
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

/* Post.module.css */

/* Style pour la liste des commentaires */
.comments {
  list-style: none; /* Supprime les puces de liste */
  padding: 0;
  margin: 20px 0 0 0; /* Espace en haut, supprime le décalage gauche */
}

/* Style pour chaque commentaire */
.comment {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  border: 1px solid #ddd;
  text-align: left; /* Aligne le texte à gauche */
}

/* Ajout de style pour l'auteur du commentaire */
.comment b {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.liked {
  color: #3498db;
}