

.contentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}


.contentImage {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}


.contentText {
    font-size: 1.5rem;
    color: #333;
    max-width: 100%;
    margin: 0;
}
