/* Conteneur global */
.container {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px;
    align-items: center;
    justify-content: center;
}


@media (max-width: 768px) {
    .container{
        padding-top: 10%;
    }

}




/* Style du conteneur utilisateur */
.user {
    border-radius: 12px;
    padding: 100px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.user:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}

/* Style de la photo de profil */
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profilePic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #3498db;
    margin-bottom: 10px;
}

/* Style du nom d'utilisateur */
.author {
    font-weight: bold;
    font-size: 1.75rem;
    color: #333;
    margin-bottom: 10px;
}

/* Style des détails de l'utilisateur */
.userContent {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 8px;
    background-color: #f9f9f9;
    width: 100%;
}

/* Style du bouton de suppression */
.deleteUser {
    display: flex;
    justify-content: center;
    align-items: center;
}

.deleteUserBtn, .backBtn {
    color: black;
    font-size: 1.5rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.backBtn{
    position: fixed;
    top: 6rem;
}

.backBtn:hover{
    color: #646464;
}


.deleteUserBtn:hover {
    color: #ec2b15;
}

/* Style des messages */
.message {
    color: #e74c3c;
    margin-top: 10px;
}

.loading {
    font-size: 1.25rem;
    color: #3498db;
    text-align: center;
}

.refreshBtn{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.5rem;
}

.refreshBtn:hover{
    color: #646464;
}
